{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8 text-center">

            <h1 class="mb-4">Over ons</h1>

            <p class="mb-3">
                Wij zijn Liron en Job. Voor het vak Webtechnologie werken wij samen aan deze webapplicatie.
            </p>

            <p class="mb-3">
                Voor dit project hebben we gekozen om een datingsite te maken. Het leek ons een goed idee omdat je hiermee
                verschillende onderdelen kunt combineren, zoals accounts, profielen en het opslaan van gegevens.
            </p>

            <p class="mb-3">
                Tijdens het maken van deze website hebben we gewerkt met Flask, formulieren en een database.
                Zo hebben we geleerd hoe een webapplicatie stap voor stap wordt opgebouwd.
            </p>

            <p class="mb-3">
                Deze site is dus onderdeel van ons project en laat zien wat we hebben geleerd.
            </p>

        </div>
    </div>

</div>
{% endblock %}